html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}

div#header {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: slategrey;
}

#GenerateImage{
    /* display: flex; */
    /* justify-content: center; */
    /* height: 100px; */
    /* align-items: center; */
    /* flex-direction: column; */
    width: 25%;
    height: 100%;
    padding: 0px 10px;
    border-right: 1px solid #ccc;
    overflow:auto;
}
div#ImageShow {
    margin: 50px 0px;
    display: block;
    margin: 0;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 80%;
    height: 100%;
    overflow: auto;
}
.div_ImgContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
#ImageBgicon{
    width: auto;
    height: auto;
    z-index: 99;
}
#ImageClone{
    width: 400px;
    height: 300px;
    position: fixed;
    top: 0%;
    right: 0;
    z-index: -999;
    opacity: 0;
    overflow: hidden;
}
div#ImageDown {
    margin: 20px 0px;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.ImageItem {
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.setting{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.FormControl {
    width: 100px;
    padding: 2px;
    /* font-size: .8125000003rem; */
    /* line-height: 1.75; */
    border-radius: .25rem;
    border: 1px solid #ccc;
    height: 20px;
}

button.Option {
    width: 49%;
    border: 0px;
    padding: 5px;
    color: #fff;
    border-radius: 0.25em;
    background-color: #2c7be5;
}

button#download {
    background-color: #2c7be5;
}
button#reset {
    background-color: #e63757;
}

div#footer {
    color: #aaa;
    margin-top: 10px;
}

select#ChangeType {
    border: 1px solid #ccc;
    padding: 2px;
    /* text-align: center; */
    height: 2.0em;
    border-radius: .25rem;
}


span#ImageText {
    font-size: 16px;
    z-index: 99;
    /* margin-left: 15px; */
}

#graybackground {
    display:none;
    background-color: #bbb;
    opacity: 0.8;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#iconurl {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
}
#colorurl{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
}

/* 图标推荐 */
div#IconForm {
    padding: 15px;
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
}

div#FormTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
}
div#IconCondition {
    display: flex;
    padding: 1.5rem;
}
.item-ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
}
.item-left img {
    width: 50px;
    height: 50px;
}
.item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.item-a {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-decoration-style: -moz-none;
    color: black;
}
.item-li {
    width: 45.5%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1%;
    padding: 1%;
}

.close{
    border: 0px;
    background-color: #fff;
}
/* 颜色推荐 */
div#ColorForm {
    padding: 15px;
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
}

/* 获取主题色 */
div#ImageIconColor{
    width: 100px;
    overflow: auto;
}

/* 水印 */
.div_WaterMarkText {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: flex-end;
    z-index: 999;
}
.p_WaterMarkText {
    /* transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); */
    /* margin: 20%; */
    padding: 10px;
    margin: 0px;
    opacity: 0.3;
}
/* 水印 */

.SelectControl {
    width: 105px;
    /* padding: 2px; */
    /* font-size: .8125000003rem; */
    /* line-height: 1.75; */
    border-radius: .25rem;
    border: 1px solid #ccc;
    height: 25px;
}